.service-title {
    text-align: center;
    padding: 30px 0;
    font-weight: 700;
}

.row li {
    list-style: none;
    /* display: inline-block; */
    padding: 0;
}

.brake-icon img {
    width: 80px;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 2px 7px 8px gray;

}

.service-img img {
    /* width: 50%; */
}

.service-item {
    /* padding: 0; */
    margin: 0;
}

.service-img:hover>img {
    transform: translateX(30px) scale(1.1, 1.1);
    transition: transform .70s linear;
}

@media only screen and (max-width: 430px) {
    .notfound .notfound-404 {
        height: 162px;
    }
}