.item-container {
    margin-top: 30px;

}

.delivered-btn {
    padding: 3px 7px;
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: rgb(209, 9, 9);
}

.add-btn {
    padding: 3px 7px;
    border: none;
    color: white;
    background-color: rgb(17, 122, 241);
    border-radius: 5px;
}

.quantity-form {
    height: 35px;
    /* background-color: gray; */
    border: 3px solid rgb(52, 142, 216);
}

.manage-btn {
    background-color: rgb(40, 74, 94);
    width: 250px;
    color: white;
    border: none;
    border-radius: 20px;

}

.manage-btn:hover {
    background-color: rgb(65, 124, 158);

}